# Compiled Object files
*.lo
*.o
/_bin
/_site

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.la
*.a

# Compiled misc
*.dep
*.gcda
*.gcno
*.gcov

# Packages
*.tar.gz
*.tar.bz2

# Logs
*.log

# Temporary
/_build
*.swp
*.~
*.project
*.cproject

# cscope
cscope.out

# CLion
/.idea
lcov

# python compiled files
*.pyc

cdb.rs
*.cdb
compile_commands.json

*.cmd
/core
CMAKE_BINARY_DIR

# Junk files from macos
.DS_Store

# Cargo configuration
.cargo

# Editor files
.vscode
