# Compiled Object files
*.lo
*.o
/bin

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.la
*.a

# Compiled misc
*.dep
*.gcda
*.gcno
*.gcov

# Packages
*.tar.gz
*.tar.bz2

# Logs
*.log

# Temporary
/_build
*.swp
*.~
*.project
*.cproject

# cscope
cscope.out

# CLion
/.idea
