[package]
name = "protocol"
version = "0.1.1"
authors = ["Brian Martin <bmartin@twitter.com>"]
edition = "2018"
description = "protocols used in Pelikan servers"
homepage = "https://pelikan.io"
repository = "https://github.com/twitter/pelikan"
license = "Apache-2.0"

[[bench]]
name = "memcache"
path = "benches/memcache.rs"
harness = false

[dependencies]
common = { path = "../../rust/common" }
config = { path = "../../rust/config" }
logger = { path = "../../rust/logger" }
metrics = { path = "../../rust/metrics" }
rustcommon-time = { git = "https://github.com/twitter/rustcommon" }
session = { path = "../../rust/session" }

[dev-dependencies]
criterion = "0.3.4"
